{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>All courses</title>
    </head>
    <body>
        <h1>All available courses</h1>
        {% if courses|length %}
            {% for course in courses %}
            <ul>
                <li><a href="/course/{{ course.id }}">{{ course.name }}</a></li>
            </ul>
            {% endfor %}
        {% else %}
            <p>No courses available</p>
        {% endif %}
    </body>
</html>
{% endblock %}