<h1>{{ name }}</h1>
<p><i>{{ description }}</i></p>
<p>This course has {{ task_count }} tasks</p>
{% if session.user_role == 1 %}
    {% if task_count > 0 %}
        <p>You have solved {{ solved_tasks }}% of them</p>
    {% endif %}
    <p><a href="/solve/{{ id }}">Solve tasks!</a>
    <form action="/course/{{ id }}" method="POST">
    <input type="submit" value="Enroll">
    </form>
{% elif session.user_role == 2 %}
    <a href="/add-task/{{ id }}">Add task</a>
    <p><a href="/remove/{{ id }}">Remove this course</a>
    {% if students %}
        <p>Enrolled students:</p>
        {% for student in students %}
        <ul>
            <li>{{ student }}
        </ul>
        {% endfor %}
    {% endif %}
{% endif %}

<br><br><br><a href="/">Go back</a>