{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create course</title>
    </head>
    <body>
        <h2>Create new course</h2>
        <form action="/create-course" method="POST" enctype="multipart/form-data" class="create-course-form">
            <label for="course_name">Name:</label>
            <input type="text" name="course_name">
            <label for="description">Description: </label>
            <textarea name="description" rows="3" cols="40" maxlength="1000"></textarea>
            <label for="file">Add material:</label>
            <input type="file" name="file" multiple accept=".txt">
            <input type="submit" value="Create">
        </form>
    </body>
</html>
{% endblock %}