{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Log in</h2>
        <form action="/login" method="POST" class="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Log in">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <p>Or create new user <a href="/register">here</a></p>
    </body>
</html>
{% endblock %}