{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create course</title>
    </head>
    <body>
        <h2>Registration</h2>
        <form action="/register" method="POST" class="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username" minlength="1" maxlength="20">
            <label for="password">Password:</label>
            <input type="text" name="password" minlength="1" maxlength="20">
            <label for="role">Role:</label><br>
            <input type="radio" name="role" value="1" checked="checked">Student
            <input type="radio" name="role" value="2">Teacher
            <input type="submit" value="Register">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <br>
    <a href="/">Go back</a>
    </body>
</html>
{% endblock %}