{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Remove course</title>
    </head>
    <body>
        <h2>Are you sure you want to remove course <i>{{ name }}?</i></h2>
        <form action="/remove/{{ course_id }}" method="POST">
            <input type="radio" name="choice" value="yes">Yes<br>
            <input type="radio" name="choice" value="no">No<br><br>
            <input type="submit" value="Confirm">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </body>
</html>
{% endblock %}