{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Update course</title>
    </head>
    <body>
        <h2>Modify course <i>{{ name }}</i></h2>
        <form action="/update-course/{{ course_id }}" method="POST" enctype="multipart/form-data">
            <label for="name">Course name:</label><br>
            <input type="text" name="name" value={{name}}><br>
            <label for="description">Course description:</label><br>
            <textarea name="description" rows="3" cols="40" maxlength="1000">{{ description }}</textarea><br>

            <h3>Tasks</h3>
            <p>Add new task <a href="/add-task/{{ course_id }}">here</a>
            <p>Remove task by clicking it:</p>
            {% for task in course_tasks %}
            <ul>
                <li><a href="/remove-task/{{ task[0] }}">{{ task[1] }}</a>
            </ul>
            {% endfor %}

            <h3>Materials</h3>
            <p>Remove material by clicking it:</p>
            {% for material in materials %}
            <ul>
                <li><a href="/remove-material/{{ material[0] }}">{{ material[1] }}</a>
            </ul>
            {% endfor %}

            <label for="file">Add new material:</label><br>
            <input type="file" name="file" multiple accept=".txt"><br><br>
        
            <input type="submit" value="Update">
        </form>
    </body>
</html>
{% endblock %}